body {
    background-color: #F6F6F6;
    font-family: 'Acme', sans-serif;
    margin: 0;
}

/*----------HOME----------*/
.homepage {
    background-image: url('images/Home.jpg');
    background-attachment: inherit;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    margin-bottom: 0px;
}

.top {
    padding-top: 70px; 
}

.name {
    margin: 0;
    padding: 0 20px;
    color: #E4B98D;
    text-decoration-line: underline;
    text-align: center;
    font-size: 3.5em;
}

@media only screen and (min-width: 768px) {
   .top {
        padding-top: 10%;
   }
   .name {
       font-size: 6em; 
    }
}

.job {
    color: #E4B98D;
    text-align: center;
    font-size: 2em;
    padding: 10px 20px;
}

/*----------NAVBAR----------*/

.navbar-brand {
    color: #E4B98D;
    font-size: 15px;
}

.bar-icon {
    width: 35px;
    height: 5px;
    background-color: #E4B98D;
    margin: 6px 0;
}

.navbar {
    background-color: rgb(220, 210, 190, 0.5);
    text-align: right;
}

.nav-item a {
    color: #E4B98D;
    font-size: 15px;
}

.nav-item a:hover {
    color: white;
    background-color: #E4B98D;
}

.navbar .navbar-collapse {
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

/*----------SECTION HEADERS----------*/
.section-headers {
    color: #E4B98D;
    background-color: #F6F6F6;
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
    padding: 15px 30px;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 20px;
    border-color: #E4B98D;
    border-width: thick;
    border-style: solid;
}

@media only screen and (min-width: 768px) {
    .section-headers {
        font-size: 65px;
    }
}
/*----------ABOUT ME----------*/

.about-me-section {
    background-image: url('images/Aboutme.jpg');
    background-size: 100% 100%;
    margin-top: 0px;
    padding: 100px 0px 50px; 
}

.about-para {
    color: #E4B98D;
    background-color: white;
    font-size: 20px;
    text-align: center; 
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
    border-color: #E4B98D;
    border-width: thick;
    border-style: solid;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about-para {
        font-size: 30px;
        width: 70%;
        padding: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .about-para {
        font-size: 30px;
        width: 60%;
        padding: 30px;
    }
}

