body {
    background-color: rgb(220, 210, 190, 0.5);
    font-family: 'Acme', sans-serif;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

/*----------HOME----------*/
.homepage {
    background-image: url('../images/Home.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
}

.top {
    padding-top: 70px; 
}

.name {
    margin: 0;
    padding: 0 20px;
    color: #E4B98D;
    text-decoration-line: underline;
    text-align: center;
    font-size: 3.5em;
}

@media only screen and (min-width: 768px) {
   .top {
        padding-top: 10%;
   }
   .name {
       font-size: 6em; 
    }
}

.job {
    color: #E4B98D;
    text-align: center;
    font-size: 2em;
    padding: 10px 20px;
}

/*----------NAVBAR----------*/

.navbar-brand {
    color: #E4B98D;
    font-size: 15px;
}

.bar-icon {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #E4B98D;
    margin: 6px 0;
}

.navbar {
    background-color: rgb(220, 210, 190, 0.9);
    text-align: right;
}

.nav-item a {
    color: #E4B98D;
    font-size: 15px;
}

.nav-item a:hover {
    color: white;
    background-color: #E4B98D;
}

.navbar .navbar-collapse {
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

/*----------SECTION HEADERS----------*/

.header-margin {
    width: 90%;
    margin: 0px auto;
}

.section-headers {
    color: #E4B98D;
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #F6F6F6;
    border: 5px solid #E4B98D;
    border-radius: 20px;
    width: fit-content;
    margin: 0px auto;
}

.portfolio-header {
    color: #E4B98D;
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
    padding: 15px 5px;
    text-transform: uppercase;
    background-color: #F6F6F6;
    border: 5px solid #E4B98D;
    border-radius: 20px;
    width: fit-content;
    margin: 0px auto;
}

@media only screen and (min-width: 375px) {
    .portfolio-header {
        padding: 15px 30px;
    }

}

@media only screen and (min-width: 768px) {
    .section-headers {
        font-size: 65px;
    }
    
    .portfolio-header {
        font-size: 65px;
    }
}

/*----------ABOUT ME----------*/
/*--Header above--*/

#about {
    background-image: url('../images/Aboutme.jpg');
    background-size: cover;
    background-position: left;
    margin-top: 0px;
    padding: 100px 0px 50px; 
}

.about-para {
    color: #E4B98D;
    background-color: #F6F6F6;
    font-size: 20px;
    text-align: center; 
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    border: 5px solid #E4B98D;
    border-radius: 20px;
    font-family: sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about-para {
        font-size: 30px;
        width: 70%;
        padding: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .about-para {
        font-size: 30px;
        width: 60%;
        padding: 30px;
    }
}

/*----------SKILLS----------*/
/*--Header above--*/

#skills {
    background-image: url('../images/Skills.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 50px;
}

.skills .row {
    width: 100%;
    padding-top: 50px;
}

.circle {
    border: 5px solid #E4B98D;
    border-radius: 50%;
    background-color: #F6F6F6;
    width: 200px;
    height: 200px;
    margin: 50px auto 0px;
    text-align: center;
    color: #E4B98D;
    font-size: 30px;
}

.skill-text {
    color: #E4B98D;
    font-size: 30px;
    text-align: center;
    margin: 77px auto;
    height: 45px;
    font-weight: 600;
    font-family: sans-serif;
}

/*----------WORK HISTORY----------*/
/*--Header above--*/

#work{
    background-image: url('../images/Work.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 100px 0px 50px; 
    width: 100%;
}

.history-margin {
    margin: 50px auto 50px;
    width: fit-content;
}

.work-history {
    background-color: #F6F6F6;
    border: 5px solid #E4B98D;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin: 0px 20px;
    font-family: sans-serif;
}

.history-items {
    display: inline-block;
}

.timeline-item {
 padding: 4em 2em 0em 2em;
 position: relative;
 color: #E4B98D;
 border-left: 5px solid #E4B98D;

}

.timeline-item p {
 padding: 0;
 margin: 0;
}

.timeline-item:before {
 content: attr(data-dates);
 position: absolute;
 left: 2.5em;
 top: 3em;
 display: block;
 font-weight: 500;
 font-size: 0.8em;
 padding: 0;
 margin: 0;
}

.timeline-item:after {
 width: 20px;
 height: 20px;
 display: block;
 position: absolute;
 border-radius: 12px;
 content: '';
 background: #E4B98D;
 top: 2.4em;
 left: -12px;
}


@media only screen and (min-width: 992px) {
    #work {  
        padding: 100px 30px 50px;
    }
        
    .history-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 840px;
        margin: 0 auto;
    }

    .timeline-item {
        border-top: 5px solid #E4B98D;
        width: calc(33% - 20px);
        border-left: 0px none;
        padding: 2em;
        text-align: center;
        margin-bottom: 20px;
    }

    .timeline-item:before {
        position: initial;
    }

    .timeline-item:after {
        top: -13px;
        left: calc(50% - 10px);
    }
}
/*----------PORTFOLIO----------*/
/*--Icons below and header above--*/

#portfolio{
    background-image: url('../images/Portfolio.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 100px 0px; 
    width: 100%;
}

.projects-card{
    width: 90%;
    padding: 0px;
    margin: 0px auto;
    font-family: sans-serif;
}

@media only screen and (min-width: 1200px) {
    .projects-card{
        width:80%
    }
}

.cards{
    background-color: #F6F6F6;
    margin: 50px auto 0px;
    width: 250px;
    height: 340px;
    border: 5px solid #E4B98D;
    border-radius: 20px;
    padding: 30px 20px;
    color: #E4B98D;
}

.card-text{
    margin: 0px
}

.icon-row {
    width:80%;
    margin: 0px auto;
    display: flex;
}

.card-link {
    margin: 0px auto;
}


/*----------CONTACT----------*/
/*--Header above--*/

#contact {
    background-image: url('../images/Contact.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 100px 0px; 
    width: 100%;
}

.contact-form {
    margin: 0px auto;
    text-align: center;
}

.form-box {
    display: block;
    color: #E4B98D;
    background-color: #F6F6F6;
    border: 5px solid #E4B98D;
    border-radius: 10px;
    margin: 15px auto 0px;
    padding: 10px;
    width: 90%;
    max-width: 550px;
    font-family: sans-serif;
}

.form-box::placeholder{
    color: #E4B98D;
    font-family: sans-serif;
}

.message-box{
    display: block;
    color: #E4B98D;
    background-color: #F6F6F6;
    border: 5px solid #E4B98D;
    border-radius: 10px;
    margin: 15px auto 0px;
    padding: 10px;
    width: 90%;
    max-width: 550px;
    font-family: sans-serif;
}


.message-box::placeholder{
    color: #E4B98D;
    font-family: sans-serif;
}

.btn-style{
    display: block;
    background-color: #F6F6F6;
    color: #E4B98D;
    margin: 15px auto 0px;
    border: 5px solid #E4B98D;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px;
    font-family: sans-serif;
}

/*----------FOOTER----------*/

.footer-icon-row {
    margin: 10px auto;
    text-align: center;
}

/*----------ICONS----------*/
.desktop-icon {
    padding: 7px 5px;
    border-radius: 10px;
    font-size: 40px;
    width: 65px;
    height: 65px;
    border: 5px solid #E4B98D;
    background-color: #F6F6F6;
    color: #E4B98D;
    display: inline-block;
    margin: 0px auto;
}

.github-icon {
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 46px;
    width: 65px;
    height: 65px;
    border: 5px solid #E4B98D;
    background-color: #F6F6F6;
    color: #E4B98D;
    display: inline-block;
}

.port-icon {
    margin: 0px auto;
}

.footer-icon {
    margin: 0px auto;
}

.linkedin-icon {
    padding: 5px 5px 5px 8px;
    border-radius: 10px;
    font-size: 46px;
    width: 65px;
    height: 65px;
    border: 5px solid #E4B98D;
    background-color: #F6F6F6;
    color: #E4B98D;
    display: inline-block;
    margin: 0px auto;
}

.download-icon {
    padding: 5px 9px;
    border-radius: 10px;
    font-size: 46px;
    width: 65px;
    height: 65px;
    border: 5px solid #E4B98D;
    background-color: #F6F6F6;
    color: #E4B98D;
    display: inline-block;
    margin: 0px auto;
}


/*----------CONTACT MODEL----------*/

.modal-title {
    color: #E4B98D;
}

.modal-body {
    font-size: 19px;
    font-family: sans-serif;
}

.modal-border.modal-content {
    border: 5px solid #E4B98D;
    border-radius: 20px;
}

.modal-btn.btn {
    border: 5px solid #E4B98D;
    border-radius: 10px;
    font-family:sans-serif;
}

.modal-footer-border.modal-footer {
    border-top: 1px solid #E4B98D;
}

.modal-header-border.modal-header {
    border-bottom: 1px solid #E4B98D;
}